.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: #ff0000;
}

.font-beba {
    font-family: 'Bebas Neue', cursive;
}

.hero {
    background-image: url("./images/Marvel-hero.webp");
    background-size: cover;
    /* background-position: 80%; */
}

.white {
    color: #ffffff;
}